* {
  font-family: sans-serif;
}

.map {
  display: block;
  width: 2700px;
  height: 3314px;
  background: url(../../preprocess_mta/data/subway_map_Jul18_2700x3314.jpg) no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  opacity: 0.5;
}

.draggable {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: crosshair;
}

.symbol {
  border: 1px solid red;
  position: absolute;
  background: red;
  cursor: pointer;
  opacity: 0.4;
}
.symbol:hover {
  border: 1px solid blue;
  background: blue;
}
.symbol.selected {
  border: 1px solid green;
  background: green;
}

.prompt {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 1.2rem;
  background: rgba(200, 200, 200, 0.8);
  margin: 0;
  border: 0;
}
.prompt .input {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem;
}
.prompt .input * {
  vertical-align: middle;
}
.prompt .text {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.01rem;
}

.drag-window {
  display: none;
  border: 1px solid red;
  position: absolute;
}
.drag-window.active {
  display: block;
}
